div.custom-metadata-box {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  color: red;
  background-color: #e9ecef;
  resize: none;
}

div.custom-metadata-box > p {
  margin-bottom: 0;
}
